.message_alert {
  padding: 15px 20px;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 99;
}
